header{
	background: #9c8c8cbf;
	text-align: center;
	padding: 15px;	
}
h2{
	color: #736363;
	background: #7bd8e6;
}
html{
	background: #9c8c8c9c;
}
body{
	margin: 4%;
} 
.half{
	width: 45%;
	display: inline-block;
	float: left;
	margin-right: 2%;
	
	
}
figure{
	clear: both;
	background: #9c8c8cbf;
	padding: 15px;
}
h1{
	text-align: center;
}
a {
	dispay: inline-block;
	font-weight: bold;
	color: purple;
	
	width: 200px;
	text-align:center;
	padding: 4px;
	text-decoration: underline;
}
a:hover{
	background-color:  #736363;
	color: #000000;
}
img{
	width: 100px;
}

header, figure{
	background: linear-gradient(#e66465, #9198e5);
}
nav a{
	width: 22%;
	display: inline-block;
	background-color: #ffffff;
	text-decoration: none;

}
.whole{
	clear: both;
}
